body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding-top: 61px;
    padding-bottom: 30px;
}

.logo {
    font-size: 80px;
    color: #4bcaff;
    margin-bottom: 38px;
}

.logo span {
    color: #000000;
}

nav {
    background-color: #35444F;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.nav__menu-item {
    border-left: 1px solid #FFFFFF;
    padding: 20px 40px 20px 40px;
    font-size: 24px;
}

.nav__menu-item:hover {
    background-color: #222F3A;
}

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}

.sidebar {
    border: 1px solid #485863;
    flex-basis: 350px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__menu-item {
    padding: 27px 0 27px 42px;
    color: #485863;
    font-size: 27px;
}

.sidebar__menu-item:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 55px;
}

.content {
    flex-basis: 885px;

}

.content p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 34px;
    color: #2C2C2C;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #485863;
    margin-bottom: 37px;
}

.topimg {
    max-width: 100%;
    height: auto;
    transition: transform 2s;
    transition-timing-function: linear;
}

.topimg:hover {
    transform: scale(1.2);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 0 40px;
}

.footer__nav {
    display: flex;
    height: 69px;
    align-items: center;
    font-size: 28px;

}

.footer__nav-item {
    padding: 0 10px;
}

.footer__nav-item a:hover {
   color: #3181A6;
   border-bottom: 1px solid #3181A6;
}

.footer__copyright {
    font-size: 24px;
}